.app-header {
    background-color: #1c2d49;
    height: 56px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 13px 32px;
}

.app-header-right {
    display: flex;
}

.app-header-right__seraphine {
    position: relative;
    margin: 0 24px;
}

.app-header-right__seraphine span::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background: white;
}

.app-header-notification {
    position: relative;
    cursor: pointer;
}

.app-header-notification__icon svg {
    margin: 5px 0 0 0;
}

.app-header-notification__icon-dot svg {
    position: absolute;
    top: 2px;
    right: -4px;
}

.app-header-message {
    margin: 0 0 0 32px;
    cursor: pointer;
}

.app-header-message svg {
    margin: 4px 0 0 0;
}