.app-sidebar {
    max-width: 240px;
    height: 100%;
    background: var(--white-color);
    padding: 10px 12px;
}

.app-sidebar ul li:hover {
    background: var(--default-hover-color);
    border-radius: var(--border-radius);
}

.app-sidebar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 22px;
}

.app-sidebar-item {
    display: flex;
}

.app-sidebar-item__icon {
    margin: 0 12px 0 0;
}