.wrapper {
    max-width: 240px;
    height: 100%;
    background: var(--white-color);
    padding: 10px 12px;

    ul li:hover {
        background: var(--default-hover-color);
        border-radius: var(--border-radius);
    }

    .group {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px 22px;

        .item {
            display: flex;
            .icon {
                margin: 0 12px 0 0;
            }
        }
    }
}