:root {
	--primary-color: #f05123;
	--black-color: #000;
	--white-color: #fff;
	--gray-color: #666;
	--text-color: #333;
	--plum-color: #b80257;
	--fb-color: #4080ff;
	--mail-color: #f47425;
	--invalid-color: #f33a58;
	--desc-color: #0000008a;
	--first-color: #1dbfaf;
	--second-color: #1dbfaf;
	--button-color: #1dbfaf;
	--button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);

	/*===== Custom color =====*/
    --background-border-radius: #DEE0EB;
    --default-color: #4D6CF7;
    --default-hover-color: #E6E8EC;
    --default-hover-color-btn: brightness(60%);
    --background-content : #EBEBF0;


	/*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
	--border-radius: 4px;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/*========== BASE ==========*/
*,::before,::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	user-select: none;
	outline: none;
}

html {
	scroll-behavior: smooth;
	background-color: var(--background-content);
}

.container-fluid {
  	background-color: var(--background-content);
}

body {
	font-size: var(--normal-font-size);
}

h1,h2,h3,h4 {
	color: var(--black-color);
	font-weight: var(--font-semi-bold);
}

ul {
  	list-style: none;
}

a {
	text-decoration: none;
	color: #0052FF;
}

input[type="checkbox"] {
	cursor: pointer;
	width: 15px;
	height: 15px;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
  	margin: 0;
}

.d-none {
	display: none;
}